.formContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #00f2f2, #004e92);
  }
  .formContainer form {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 4rem;
    border-radius: 0.8rem;
    background-color: #f8f9fa;
  }
  form h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 2.5rem;
    background: linear-gradient(90deg, #00f2f2, #004e92);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .formControl {
    display: flex;
    flex-direction: column;
  }
  .formControl label {
    display: block;
    margin-bottom: 0.3rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .formControl input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .formControl input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .formActions {
    display: flex;
    justify-content: center;
    margin: 0.8rem;
  }
  .formActions button {
    border: none;
    border-radius: 1rem;
    padding: 0.2rem 1rem;
    width: 100%;
  
    background: linear-gradient(90deg, #00f2f2, #004e92);
    transition: all 0.8sec ease-in 0.3sec;
  }
  
  .formActions button:hover {
    background: linear-gradient(90deg, #004e92, #00f2f2);
    transform: scale(1.05);
  }
  
  .errorMessage {
    color: red;
    text-align: center;
  }
  
  p {
    text-align: center;
  }
  .signupLink {
    color: #004e92;
  
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  
  .signupLink:hover {
    text-decoration: underline;
  }
  .errorMessage {
    color: red;
  }